{% if c.PAGE_PATH == '/preregistration/index' %}
    <script type="text/javascript">
        $(function () {
            $('li:contains("promo code")').each(function() {
                $(this).remove();
            });
        });
    </script>
{% endif %}

{% if c.PAGE_PATH == '/registration/form' %}
    <script type="text/javascript">
        $(function () {
            $('#reprint_fee').insertAfter($.field('badge_status').parents('.form-group'));
        });
    </script>

    <div id="reprint_fee" class="form-group">
    {% include "kiosk_printing/reprint_fee.html" %}
    </div>
{% endif %}

<script type="text/javascript">
    $(function() {
        {% if '/groups/' not in c.PAGE_PATH %}
        if ($("form[action*='delete']")) {
                $("form[action*='delete']").remove();
            }
        {% endif %}

        if ($("form[action*='lost_badge']")) {
            $("form[action*='lost_badge']").remove();
        }

    });
</script>