

{% if c.PAGE_PATH == '/registration/form' %}
    <script type="text/javascript">
        $(function () {
            $('#reprint_fee').insertAfter($.field('badge_status').parents('.form-group'));
        });
    </script>

    <div id="reprint_fee" class="form-group">
    {% include "kiosk_printing/reprint_fee.html" %}
    </div>
{% endif %}

<script type="text/javascript">
    $(function() {
        if ($("form[action*='delete']")) {
                $("form[action*='delete']").remove();
            }

        if ($("form[action*='lost_badge']")) {
            $("form[action*='lost_badge']").remove();
        }

        $("input").each(function() {
            $(this).prop('pattern','[^\u{1F600}-\u{1F6FF}]*').prop('title','No fields may contain emoji characters.');
        });

    });
</script>