<script type="text/javascript">
    $(function () {
        // Position new field(s)
        if ($('#power').length) {
            $('#power').parents('.form-group').insertBefore($.field('wares').parents('.form-group'))
        }
        //Hide reference to requesting more than four tables
        $("#moretables").hide();
    });
</script>

{% if attendee and attendee.is_dealer or group and group.is_dealer or new_dealer %}
<div class="form-group">
    <label for="power" class="col-sm-2 control-label">Do you need power?</label>
    <div class="col-sm-6">
        <input type="checkbox" name="power" id="power" value="1" {% if group.power %}checked="checked"{% endif %} /> Yes (${{ c.POWER_PRICE }})
    </div>
</div>
{% endif %}

{% if c.PAGE_PATH == '/groups/form' and group.is_dealer or new_dealer %}
<script type="text/javascript">
    $(function () {
        // Position new field(s)
        $.field('location').parents('.form-group').insertBefore($.field('wares').parents('.form-group'))
    });
</script>

<div class="form-group">
    <label for="location" class="col-sm-2 control-label">Table Assignment</label>
    <div class="col-sm-6">
        <input type="text" name="location" value="{{ group.location }}" placeholder="Dealer's table location" />
    </div>
</div>
{% endif %}
