{% if c.PAGE_PATH == '/registration/form' %}
    {% if attendee.times_printed < 1 or attendee.print_pending %}
        <script type="text/javascript">
            $(function () {
                $('#print_pending').insertAfter($.field('badge_status').parents('.form-group'));
            });
        </script>

        <div id="print_pending" class="form-group">
            <label for="print_pending" class="col-sm-2 control-label">Ready to Print</label>
            <div class="col-sm-6">
                {{ attendee.print_pending|yesno }}
            </div>
        </div>
    {% endif %}


    <script type="text/javascript">
        $(function () {
            var showOrHideCompedReason = function() {
                setVisible('#comped_reason', $('select[name="paid"] option:selected').val() == '{{ c.NEED_NOT_PAY }}');
            };

            $.field('comped_reason').parents('.form-group').insertAfter($.field('paid').parents('.form-group'));
            $.field('paid').change(showOrHideCompedReason);
            $.field('placeholder').click(showOrHideCompedReason);

            showOrHideCompedReason();
            if ($.field('omit_badge')) {
                $.field('omit_badge').prop('checked', true)
            }
        });
    </script>

    <div id="comped_reason" class="form-group">
        <label for="comped_reason" class="col-sm-2 control-label">Reason for Comped Badge</label>
        <div class="col-sm-6">
            <input type="text" class="form-control" name="comped_reason" value="{{ attendee.comped_reason }}" placeholder="Enter your reason for giving this attendee a comped badge." />
        </div>
    </div>
{% endif %}

<script type="text/javascript">
    $(function() {
        if (window.BADGE_TYPES) {
            // Append to the setBadge function to show the shirt row if Sponsor or Shiny Sponsor is selected
            var origSetBadge = setBadge;
            setBadge = function(types, index) {
                origSetBadge(types, index);
                setVisible('.shirt-row', $.val('badge_type') == {{ c.SPONSOR_BADGE }} || $.val('badge_type') ==  {{ c.SHINY_BADGE }});
            };

            // Add a link explaining the different levels
            var levels = '<p class="help-block">'+
            '<span class="popup"><a href="https://www.furfest.org/registration" target="_blank">What are these?</a></span>'+
            '</p>';
            $("label:contains('Badge Level')").append(levels);
        }

        // Also set visibility when the page loads
        setVisible('.shirt-row', $.val('badge_type') == {{ c.SPONSOR_BADGE }} || $.val('badge_type') ==  {{ c.SHINY_BADGE }});
        setVisible('.badge-row', true);

        // Hide all the things
        $.field('found_how').parents('.form-group').hide();
        $.field('comments').parents('.form-group').hide();
        $.field('can_spam').parents('.form-group').hide();
         
        // Increase maximum length of badge_printed_name and make it bold
        $.field('badge_printed_name').prop('maxlength', 30);
        $("label[for='badge_printed_name']").removeClass('optional-field');
        $('p:contains("Badge names have a maximum of 20 characters.")').text("Badge names have a maximum of 30 characters.")
    });

    // We don't use amount_extra so we don't want this to do anything
    donationChanged = function() {};

    // We don't want attendees to be able to invalidate themselves
    if ($("[form='invalidate']").length) {
        $("[form='invalidate']").remove()
    }
</script>

{# {% include 'art_show_link.html' %} #}
