<html>
<head></head>
<body>

<p>Your {{ group.is_dealer|yesno("Dealer registration,group") }} for {{ group.name }} has been preregistered for
{{ c.EVENT_NAME }} this coming {{ event_dates() }} and your payment of ${{ group.amount_paid }} has been received.</p>

{% if group.is_dealer %}
<p>Your group will have a {{ group.tables_repr }} in the Dealers Den. The Dealers Den manager will continue to be in touch with you to keep you informed of Dealers Den rules and procedures.
</p>
{% endif %}

{% if group.unregistered_badges %}
<p>Some of your badges are not yet assigned to a specific person. Membership information for those badges must be provided before {{ c.PREREG_DEADLINE|datetime_local }}. <br />
You may preassign your badges on your <a href="{{ c.URL_BASE }}/preregistration/group_members?id={{ group.id }}">group management page</a>. The individual registration links on the group management page can be filled out by you, or distributed to your group members for them to fill out themselves.
</p>
{% endif %}

<p><b>Your</b> registration confirmation number is {{ group.leader_id }}, and you can update your information <a href="{{ c.URL_BASE }}/preregistration/confirm?id={{ group.leader_id }}">here</a>.
</p>

{% if group.is_dealer %}
<p>If you would like to add badges to your group, then please email us as {{ c.MARKETPLACE_EMAIL }}.<br />
Badges for preregistered Dealers and Helpers will be available for pickup at the Dealers Den Operations table. Note that a photo ID is required to pick up your badge. The location and hours of the Dealers Den Operations desk will be e-mailed prior to the event.
</p>
{{ c.MARKETPLACE_EMAIL_SIGNATURE }}
{% endif %}

</body>
</html>
