<html>
<head>
    <title> Volunteer Compensation </title>
</head>
<body>

<h3 align="center"> What You Get For Volunteering </h3>

The more hours you work, the more you get:
<ul>
  <li> T-shirt with exclusive artwork designed by one of our guests of honor</li>
  <li> Ribbon identifying you as being part of our group of convention volunteers</li>
  <li> Special medal for volunteering during the convention</li>
  <li> For {{c.HOURS_FOR_REFUND}}  hours of logged service, you will receive a free membership to next year's {{c.EVENT_NAME}} and special “Thank You” medal
  <li>For 15+ hours of logged service, you will receive a special “Iron Gopher” medal</li>
</ul>

</body>
</html>
